:root {
  --common-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  --main-bg-color: #ffffff;
  --section-bg-color: #f5f4fa;
  --footer-bg-color: #212121;
  --blank-bg-color: #2f303a;
  --border-separator-color: ;
  --interactive-element-color: #2196f3;
  --button-color: #2196f3;
  --current-page-color: #2196f3;

  --logo-font-color: #2196f3;
  --logo-font-black: #000000;
  --logo-font-white: #ffffff;
  --hero-text-color: #ffffff;
  --main-heading-color: #212121;
  --main-text-color: #757575;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--common-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

footer {
  background-color: var(--footer-bg-color);
}

.current-page {
  color: var(--current-page-color);
}

.list-reset {
  list-style-type: none;
  padding: 0;
}

.link-reset {
  text-decoration: none;
}
